<div class="invoice-box">
  <div class="row">
    <div class="col-print-9">
      <div class="invoice-head">
        <input type="text" class="subheading" value="Tobias Scheel · Bornebrucher Weg 123 · 32839 Steinheim"><br><br><br>
        <input type="text" class="headline" value="Rechnung"><br>
      </div>
      <div class="line"></div>
    </div>
    <div class="col-print-2"><img src="~assets/images/logo3.png" class="logo"></div>
  </div>
  <br>
  <div class="row invoice-address">
    <div class="col-print-7">
      <input type="text" class="sender" value="Tobias Scheel · Bornebrucher Weg 123 · 32839 Steinheim"><br>
      <input type="text" class="receiver" value="Max Mustermann"><br>
      <input type="text" class="receiver" value="Musterstrasse 123"><br>
      <input type="text" class="receiver" value="12345 Musterstadt"><br>
    </div>
    <div class="col-print-1"></div>
    <div class="col-print-4 contact">
      <span class="font-weight-bold">Kontakt</span> <i class="ml-3"></i><br>
      <p>
        <input type="text" value="+49 151 46657655" class="contact"><i class="fa fa-phone ml-2"></i><br>
        <input type="text" value="tobias@spire.de" class="contact"><i class="fa fa-envelope-o ml-2"></i><br>
        <input type="text" value="www.tobiasscheel.de" class="contact"><i class="fa fa-globe ml-2"></i>
      </p>
    </div>
  </div>
  <br><br>
  <div class="row invoice-details">
    <div class="col-print-8">
      <span>Rechnungsnummer: </span> <input type="text" class="invoice-number" value="2018/0001"><br>
      <span class="small text-muted">Bei Zahlung bitte angeben!</span>
    </div>
    <div class="col-print-4 text-right">
      <input type="text" class="invoice-date" value="05.02.2018">
    </div>
  </div>
  <br>
  <div class="row">
    <input type="text" class="textarea" value="Ich bedanke mich für die Zusammenarbeit und stelle Ihnen vereinbarungsgemäß folgende Lieferungen und Leistungen in Rechnung:">
  </div>
  <div class="row invoice-items-header">
    <div class="col-print-1 text-center">
      <span>Pos.</span>
    </div>
    <div class="col-print-7">
      <span>Bezeichnung</span>
    </div>
    <div class="col-print-1 text-center">
      <span>Menge</span>
    </div>
    <div class="col-print-1 text-right">
      <span>Einzel €</span>
    </div>
    <div class="col-print-2 text-right">
      <span>Gesamt €</span>
    </div>
  </div>
  <div class="row invoice-items" v-for="index in numberOfRows">
    <div class="col-print-1 text-center">
      <span>{{ index }}</span>
    </div>
    <div class="col-print-7">
      <input type="text" class="description" value="Softwareentwicklung: Taxi-Verwaltung - Krankenkassen + Rechnungserstellung">
    </div>
    <div class="col-print-1 text-center">
      <input type="text" class="amount" value="1">
    </div>
    <div class="col-print-1 text-right">
      <input type="text" class="summe" value="600,00">
    </div>
    <div class="col-print-2 text-right">
      <input type="text" class="summe" value="600,00">
    </div>
  </div>
  <div class="row invoice-items">
    <div class="col-print-1 text-center">
      <span></span>
    </div>
    <div class="col-print-7">
      <input type="text" class="description" value="Gesamt">
    </div>
    <div class="col-print-1 text-center">
      <input type="text" class="amount" value="">
    </div>
    <div class="col-print-1 text-right">
      <input type="text" class="summe" value="">
    </div>
    <div class="col-print-2 text-right">
      <input type="text" class="summegesamt" value="720,00">
    </div>
  </div>
  <div class="row dont-print">
    <div class="col-print-2"></div>
    <div class="col-print-3 text-center">
      <button v-on:click="addRow()" class="btn btn-success button"><i class="fa fa-plus mr-2"></i>Zeile hinzufügen</button>
    </div>
    <div class="col-print-2"></div>
    <div class="col-print-3 text-center">
      <button v-on:click="removeRow()" class="btn btn-danger button"><i class="fa fa-trash mr-2"></i>Letzte Zeile löschen</button>
    </div>
  </div>
  <div class="row col-print-12">
    <input type="text" class="kleinunternehmer" value="Gemäß § 19 UStG enthält der ausgewiesene Betrag keine Umsatzsteuer.">
  </div><br>
  <div class="row col-print-12">
    <div class="col-print-12">
      <textarea class="additionaltext">Abschließende Änderungen oder Fehlerbehebungen, die bis zum 31.03.2018 erkannt und bemängelt werden, werden von mir kostenfrei behoben.
          Änderungen an der Software die nach dem 31.03.2018 gewünscht werden, stelle ich mit einem Stundensatz von 50€ (brutto) in Rechnung.
          Bitte überweisen Sie den ausgewiesenen Gesamtbetrag auf das unten stehende Konto.</textarea>
    </div>
  </div>
  <br>
  <div class="row col-print-7">
    <input type="text" class="greeting" value="Mit freundlichen Grüßen">
  </div>
  <div class="row col-print-7">
    <br><br><br><br><br><br>
    <input type="text" class="greeting" value="Tobias Scheel">
  </div>
  <div class="row col-print-12 footer">
    <div class="col-print-12 text-center" style="margin: auto;">
      <span>Steuernummer: <b class="text-muted">326/2411/1433</b> &middot; USt-ID-Nummer: <b class="text-muted">90 287 419 539</b></span><br>
      <span>Vereinigte Volksbank eG: <b class="text-muted">DE67 4726 4367 4050 2574 06</b> &middot; <b class="text-muted">GENODEM1STM</b></span>
    </div>
  </div>
</div>
  