<nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-inverse">
    <router-link class="navbar-brand" to="/">
      <img alt="Brand" src="~assets/images/logo.png" height="20">
    </router-link>
  <ul class="navbar-nav">
    <router-link class="nav-item" tag="li" to="/" exact>
      <a class="nav-link"><i class="fa fa-home mr-2"></i> Home</a>
    </router-link>
    <router-link class="nav-item" tag="li" to="/invoice" exact>
      <a class="nav-link"><i class="fa fa-file-text-o mr-2"></i> Rechnung generieren</a>
    </router-link>
    <router-link class="nav-item" tag="li" to="/impressum" exact>
      <a class="nav-link"><i class="fa fa-info-circle mr-2"></i> Impressum</a>
    </router-link>
  </ul>
</nav>
